body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
  
  h1,
  h2,
  h3 {
    margin: 0;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    width: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #ff55bb;
  }
  
  input[type="text"] {
    margin-top: 15px;
    background-color: white;
    color: black;
  }
  
  textarea {
    background-color: white;
    color: rgb(15, 8, 8);
  }
  
  input[type="submit"] {
    background-color: #061c32;
    font-size: 1rem;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    left: 138px;
  }
  
  input[type="submit"]:hover {
    background-color: #4d5053;
  }
  
  .modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal {
    background-color: #c6e2ee;
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  
  .modal__btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #888;
  }
  
  .modal__btn:hover {
    color: #000;
  }
  
  .note-container {
    width: 500px;
    height: 606px;
    border-radius: 10px;
    border-color: black;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 2px 5px gray;

  }
  
  .note-container h3 {
    color:white;
  }
  
  .note {
    border: 1px solid #f7f7f7;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .note__title {
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }
  
  .note__body {
    color: white;
    font-size: 16px;
    line-height: 1.4;
  }